include ../components/head.pug
block append head 
  title Quản lý nhập sách
include ../components/headerAdmin.pug
include ../components/navbarAdmin.pug

.h Quản lý nhập sách
hr.ngang
.giohang(style="padding-left: 0px;")
  .container(style="display: flex; justify-content: center;")
    .thongtin(style="display: flex; justify-content: center; padding: 20px 0px;")
      table.table
        thead
          tr.table-title
            th(scope='col') Tên sách
            th(scope='col') Số lượng
            th(scope='col') Người bán
            th(scope='col') Số điện thoại
            th(scope='col') Chấp nhận
        tbody
          if bookshell
            each book in bookshell
              tr
                form(action='/book-accept', method='POST')
                  input(name='bookId', value=book.bookId, hidden)
                  input(name='id', value=book.id, hidden)
                  th
                    p #{book.bookName}
                  input(name='count', value=book.count, hidden)
                  th
                    p #{book.count}
                  th 
                    p #{book.userSold}
                  th
                    p #{book.userPhone}
                  th
                    ul(style="list-style: none; margin: auto;")
                      li(style="display: inline-block; margin: auto;")
                        input.btn.btn-primary(type='submit', value="Duyệt bài") 
                      li(style="display: inline-block; margin-bottom: 5px;")
                        a(href=`/delete-book-sell/${book.id}`, style="display: flex; flex-direction: row; align-items: center; justify-content: center; padding-left: 10px;")
                          i(style="font-size: 1.5rem;").fas.fa-trash-alt

include ../components/footer.pug
include ../components/jsscript.pug