include ../components/head.pug
block append head 
  title Sách
include ../components/header.pug
include ../components/navbar.pug

.h Chi tiết sản phẩm
hr.ngang
.container-fluid
  div.row
    div.col-md-2
    div.col-md-4
      img(src=book.image, alt='', width='80%', height="380px")
    div.col-md-5
      p(style='color:#black; font-size:45px;')= book.bookName
      p(style='color:#d14031; font-size:35px;')= book.price +'đ' 
      div.khoinho
        label Vận chuyển
        div.freeship 
          img(src='static/images/freeship.png', alt='', width='25px', height='15px')
          span Miễn phí vận chuyển
        br
        label Địa chỉ
        div.motachitiet
          i.fas.fa-map-marker-alt(style='color:#d14031; width:19px')
          span Trường Đại học Kinh tế Đà Nẵng
      .khoinho
        label Số lượng
        div.motachitiet
          span(style='color:#d14031; font-size:20px;line-height:5px')= book.count
      .khoinho
        a.btn.btn-primary(href=`/add/${book.id}`) Thêm vào giỏ hàng
      
    .col-md-1


include ../components/footer.pug
include ../components/jsscript.pug