include ../components/head.pug
block append head 
  title Quản lý nhập sách
include ../components/header.pug
include ../components/navbarAdmin.pug

.h Quản lý nhập sách
hr.ngang
.giohang(style="padding-left: 0px;")
  .container(style="display: flex; justify-content: center;")
    .thongtin(style="display: flex; justify-content: center; padding: 20px 0px;")
      table.table
        thead
          tr.table-title
            th(scope='col') Tên sách
            th(scope='col') Số lượng
            th(scope='col') Chấp nhận
        tbody
          if bookshell
            each book in bookshell
              tr
                form(action='/book-accept', method='POST')
                  input(name='bookId', value=book.bookId, hidden)
                  input(name='id', value=book.id, hidden)
                  th.col-sm-3
                    p #{book.bookName}
                  input(name='count', value=book.count, hidden)
                  th.col-sm-3
                    p #{book.count}
                  th.col-sm-1
                    input.btn.btn-primary(type='submit', value="Nhập hàng") 

include ../components/footer.pug
include ../components/jsscript.pug