include ../components/navbarAdmin.pug
.container
  h1 Order Management
  table.table
    thead
      tr
        th(scope='col') #
        th(scope='col') Buyer
        th(scope='col') Book name
        th(scope='col') Quantity
        th(scope='col') Total
        th(scope='col') Utilities
    tbody
      if orders 
        each order in orders
          tr
            td= order.stt
            td= order.buyer
            td
              each book in order.bookName
                p #{book}
                br
            td
              each qtt in order.quantity
                p #{qtt}
                br
            td= order.total 
            td
              a(href=`/accept-order/${order.orderId}`)
                svg.bi.bi-check2(xmlns='http://www.w3.org/2000/svg', width='32', height='32', fill='currentColor', viewbox='0 0 16 16')
                  path(d='M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z')
              a(href=`/reject-order/${order.orderId}`)
                svg.bi.bi-x(xmlns='http://www.w3.org/2000/svg', width='32', height='32', fill='currentColor', viewbox='0 0 16 16')
                  path(d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z')
