include ../components/navbar.pug
.container
  div.row
    div.col-sm-1
    div.col-sm-10
      h1 Giỏ hàng
    div.col-sm-1

  div.table.row.table-borderless
    div.col-sm-1

    table.col-sm-10
      thead
        tr
          th(scope='col') #
          th(scope='col') Tên sách
          th(scope='col') Số lượng
          th(scope='col') Giá
          th(scope='col') Chỉnh sửa
      tbody
        if orders
          each order in orders
            tr
              td= order.stt
              td= order.bookName
              td= order.quantity
              td= order.price
              td
                a(href=`/remove/${order.bookId}`)
                  svg.bi.bi-caret-down(xmlns='http://www.w3.org/2000/svg', width='32', height='32', fill='currentColor', viewbox='0 0 16 16')
                    path(d='M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z')
                a(href=`/add/${order.bookId}`)
                  svg.bi.bi-caret-up(xmlns='http://www.w3.org/2000/svg', width='32', height='32', fill='currentColor', viewbox='0 0 16 16')
                    path(d='M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z')
                a(href=`/delete/${order.bookId}`)
                  svg.bi.bi-trash(xmlns='http://www.w3.org/2000/svg', width='32', height='32', fill='currentColor', viewbox='0 0 16 16')
                    path(d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.50a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z')
                    path(fill-rule='evenodd', d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z')

        tr
          td
          td
          td
          if total != 0
            td Total: #{total}
          else
            td
          td.borderless
            if orderID
              button.btn.btn-large.btn-primary.me-3
                a(href=`/cancel/${orderID}`, style='text-decoration: none; color: white;') Hủy
            button.btn.btn-large.btn-primary.me-3
              a(href='/pay', style='text-decoration: none; color: white;') Thanh toán

    div.col-sm-1
 
              

