include ../components/navbarAdmin
.container
    div.table.row.align-middle.table-striped
        table
            thead
                tr
                    th.col-sm-3 Tên sách
                    th.col-sm-3 Số lượng
                    th.col-sm-1 Chấp nhân

            if bookshell
                tbody
                    each book in bookshell
                        tr
                            form(action='/book-accept', method='POST')
                                input(name='bookId', value=book.bookId, hidden)
                                input(name='id', value=book.id, hidden)
                                th.col-sm-3
                                    p #{book.bookName}
                                input(name='count', value=book.count, hidden)
                                th.col-sm-3
                                    p #{book.count}
                                th.col-sm-1
                                    input(type='submit')